/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

/* Customization css */
:root {
  --redish: rgb(251, 133, 133);
  --red: rgb(191, 55, 55);
  --light: rgb(244, 205, 185);
}

.navbar {
  background-color: var(--redish);
  height: 90px;
}

.navbar a,
.navbar-brand {
  color: var(--red) !important;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
  text-decoration: var(--red) 4px underline overline;
}

.navbar-nav {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 14px;
  background-color: var(--light);
  margin-right: -1%;
  margin-left: 66%;
  padding: 0 0 5px 0;
}
.navbar-brand {
  background-color: var(--light);
  padding: 5px 1% 5px 6%;
  margin: -1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-size: 26px !important;
  font-weight: 700 !important;
}

.navbar img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: -1%;
  transform: translate(40%, 40%);
  z-index: 1;
}

/*.jumbotron img {
  width: 110%;
  height: 100px;
  object-fit: cover;
  position: relative;
  margin-top: -3.5%;
  margin-left: -35px;
} */

.jumbotron {
  background-image: url(/Bootstrap-Portfolio/images/02-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  object-fit: cover;
  position: relative;
}

.display-2,
.lead {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: -20px;
  color: var(--red);
  background: rgb(244, 205, 185, 0.7);
  font-weight: 500;
}

.display-2 {
  margin-right: 84px;
  margin-left: 63%;
  font-size: 44px;
}

.lead {
  margin-right: 120px;
  margin-left: 73%;
  font-size: 28px;
}

#about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -50px;
  border-bottom: 4px solid var(--redish);
}

#work {
  border-bottom: 4px solid var(--redish);
}

#work h2 {
  text-align: center;
  margin-bottom: 2%;
}

@media (max-width: 992px) {
  .navbar img {
    display: none;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
  }

  .display-2,
  .lead {
    font-size: 10px !important;
  }

  .jumbotron {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .jumbotron .container-fluid {
    max-width: 960px;
  }

  .jumbotron .container-fluid h1 {
    font-size: 12px;
  }
  .jumbotron .container-fluid p {
    font-size: 10px;
  }
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px 0px rgb(191, 55, 55, 0.6),
    4px 6px 20px 4px rgba(191, 55, 55, 0.6);
}

.CV {
  background-image: url(../images/ganache.jpeg);
  background-size: 80%;
  min-height: 170px;
}

.refactor {
  background-image: url(../images/refactor.jpeg);
  min-height: 170px;
}

.prework {
  background-image: url(../images/prework.jpeg);
  min-height: 170px;
  background-size: cover;
  background-position: 1cm;
}

.NoBootStrap {
  background-image: url(../images/placeholder.webp);
  min-height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
}

.placeholder {
  min-height: 170px;
}

.badge {
  color: white;
  background-color: rgb(251, 133, 133, 0.7);
  margin: 0 2% 5%;
  padding: 1% 3% 1% 3%;
  border-bottom: 0.25rem solid var(--red);
}

.badge:hover,
.icon:hover,
.navbar-brand:hover {
  transform: scale(1.1);
}

.flex-grid-item {
  border: 5px solid var(--redish);
}

.skills,
.contact-section {
  border-bottom: 4px solid var(--redish);
}

#contact-me,
#skills {
  margin-top: 2%;
}

.contact-section .container {
  margin-bottom: 2%;
}

.footer-section {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contact-section .card {
  border: 0.25rem solid var(--redish);
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: var(--red);
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:active {
  color: #fff;
}
