/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

.navbar-nav {
  width: 110%;
  justify-content: flex-end;
  font-size: 12px;
}
.navbar-brand {
  background-color: rgb(244, 205, 185);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
